#log-viewer-select {
    .alignleft, 
    .alignright {
        width: 100%;
        float: none;
    }

    .button {
        position: relative;
        top: 2px;
        text-align: left;
    }

}

pre.snippet {
  background: rgba(0, 0, 0, 0.07);
  white-space: pre-wrap;
  padding: 5px 10px;
}

#log-search {
    width: 100%;

    ol {
      max-height: 40vh;
      overflow: auto;
      margin-left: 0;
      padding-left: 2em;
  }

}

.log-file-viewer {
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    padding: 5px 20px;
    
    pre {
        font-family: monospace;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}

#log-search li button {
    font-size: 15px;
    border: none;
    color: #2271b1;
    cursor: pointer;
    text-align: left;
}

.form-log-search {
    position: relative;

    input.regular-text {
        width: 400px;
    }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.loader {
  font-size: 10px;
  top: 2px;
  left: 370px;
  position: absolute;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid rgba(0, 0, 0, 1.0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
